---
import Layout from '../layouts/Layout.astro';
---

<Layout title="About page">
    <section>
        <div class="container">
            <h1>
                All about my impostor syndrome.
            </h1>
            <iframe style="display: block; margin: 0 auto;" src="https://giphy.com/embed/YFkpsHWCsNUUo" width="480" height="259" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
        </div>
    </section>
</Layout>
