---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Ram from '../components/Ram.astro';
---

<Layout title="Welcome to Astro.">
	<Header />
	<main>
		<section>
			<div class="container">

				<h1>Astro, <span class="text-gradient"> chuli</span></h1>
				<Ram />
				<h1>Morty, I'm a drunk, not a hack. Lookin' good!</h1>
				<h2>Oh, that's Million Ants. I can't see the ants from over here</h2>
				<h3>I just assumed that was um.. Turd Man, Wiggly Turd Man.</h3>
				<h4>I dunno, some people would pay top dollar for that kind of breakthrough.</h4>
				<h5>Wha, me irresponsible ?! All I wanted you to do was to hand me a screwdriver</h5>
				<h6>Morty! Oh, that's Million Ants. I can't see the ants from over here</h6>
				<p>Wha, me irresponsible ?! All I wanted you to do was to hand me a screwdriver, Morty! Oh, that's Million Ants. I can't see the ants from over here, I just assumed that was um.. Turd Man, Wiggly Turd Man. I can finally go on that trip I've been talking about. Burgertime!</p>
				<p>Are you kidding? I'm hoping I can get to both of them, Rick! Alan Rails, ladies and gentlemen. After his parents' tragic death in a railroad accident, he gained the power to summon ghost trains. It's not all bad though, they were spared having to see their grown son wear a whistle. If I've learned one thing, it's that before you get anywhere in life, you gotta stop listening to yourself. My name is Slip- Slippery Stair. I'll take ya down there for 25 shmeckels!</p>
				<p>Well let me check my list of powers and weaknesses: ability to do anything, but only whenever I want. Yeah, that sounds like a job for me. I'm not looking for judgement, just a yes or no. Can you assimilate a giraffe? Alien Invasion Tomato Monster Mexican Armada Brothers Who Are Just Regular Brothers Running In A Van From An Asteroid And All Sorts Of Things: The Movie. I don't get it, and I don't need to.</p>
			</div>
		</section>
		

		<!--
			<ul role="list" class="link-card-grid">
				<Card
					href="https://docs.astro.build/"
					title="Documentation"
					body="Learn how Astro works and explore the official API docs."
				/>			
			</ul>
		-->
	</main>
	<Footer />
</Layout>
