---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Header from '../components/Header.astro';
import Ram from '../components/Ram.astro';
---

<Layout title="Welcome to Astro.">
	<!--<Header />-->
	<main>
		<h1>Amopayá <span class="text-gradient">chuli❤️</span></h1>
		<Ram />

		<!--
			<ul role="list" class="link-card-grid">
				<Card
					href="https://docs.astro.build/"
					title="Documentation"
					body="Learn how Astro works and explore the official API docs."
				/>			
			</ul>
		-->
	</main>
</Layout>

<style>
	:root {
		--astro-gradient: linear-gradient(0deg, #7e00c7, #df00b6);
	}

	h1 {
		margin: 2rem 0;
	}

	main {
		width: min(100% - 24px, 1024px);
    	margin-inline: auto;
	}

	.text-gradient {
		font-weight: 900;
		background-image: var(--astro-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 100% 200%;
		background-position-y: 100%;
		border-radius: 0.4rem;
		animation: pulse 1s ease-in-out infinite;
	}

	@keyframes pulse {
		0%,
		100% {
			background-position-y: 0%;
		}
		50% {
			background-position-y: 80%;
		}
	}

</style>
