---
import Ram from '../components/Ram.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Work page">
		<section>
			<div class="container">
				<h1>Work it, <span class="text-gradient"> chuli!</span></h1>
				<Ram />
			</div>
		</section>
</Layout>
