<section class="contact" id="contact">
    <div class="container">     
        <div class="contact__container">
            <h2 class="h1-like">Contact Section</h2>
        </div>
    </div>
</section>

<style lang="scss">
    .contact {
        background-color: black;

        &__container {
            min-height: 100vh;
            display: grid;
            place-items: center;
            color: white;
        }
    }
</style>