<section class="contact" id="contact">
    <div class="container">     
        <div class="contact__container">
            <div>
                <h2 class="h1-like">Call me...</h2>
                <iframe class="contact__gif" src="https://giphy.com/embed/3ohhwhByPtLaCskIAU" width="480" height="259" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
            </div>
        </div>
    </div>
</section>

<style lang="scss">
    .contact {
        background-color: black;
        padding-top: 0;

        &__container {
            min-height: 100vh;
            display: grid;
            place-items: center;
            color: white;

            .h1-like {
                margin-top: 0;
                text-align: center;
            }

        }

        &__gif {
            display: block;
            margin: 0 auto;
        }
    }
</style>