<footer class="footer">
    <div class="container">
        <div class="footer__container">
            <h3>
                <a href="/">
                    Alex Barakhov
                </a>
                
            </h3>
            <ul class="footer__list">
                <li class="footer__list-item">
                    <a class="footer__list-link" href="#">GitHub</a>
                </li>
                <li class="footer__list-item">
                    <a class="footer__list-link" href="#">LinkedIn</a>
                </li>
                <li class="footer__list-item">
                    <a class="footer__list-link" href="#">Twitter</a>
                </li>
                <li class="footer__list-item">
                    <a class="footer__list-link" href="#">©2022</a>
                </li>                                                
            </ul>
        </div>
    </div>
</footer>

<style lang="scss">
    .footer {
        background-color: black;
        padding: 40px 0 40px 0;
        color: white;

        &__list {
            margin: 0;
            padding: 0;    
            display: flex;

        }

        &__list-item {
            list-style: none;     
            
            &:not(:last-child) {
                margin-right: 24px;
            }
            &:last-child {
                margin-left: auto;
            }
        }
    }
</style>