<footer class="footer">
    <div class="container">
        <div class="footer__container">
            <h3>
                Title
            </h3>
            <ul class="footer__list">
                <li class="footer__list-item">
                    <a class="footer__list-link" href="#">Uno</a>
                </li>
                <li class="footer__list-item">
                    <a class="footer__list-link" href="#">Dos</a>
                </li>
                <li class="footer__list-item">
                    <a class="footer__list-link" href="#">Tre</a>
                </li>
                <li class="footer__list-item">
                    <a class="footer__list-link" href="#">Cua</a>
                </li>                                                
            </ul>
        </div>
    </div>
</footer>

<style lang="scss">
    .footer {
        background-color: black;
        padding: 40px 0 40px 0;
        color: white;

        &__list {
            margin: 0;
        }

        &__list-item {
            list-style: none;            
            a {
                color: white;
            }
        }
    }
</style>