<header class="header">
    <div class="container">
        <div class="header__container">
            <a class="header__logo" href="/">Alex Barakhov</a>
            <ul class="header__list">
                <li class="header__list-item">
                    <a href="/work/">Work</a>
                </li>
                <li class="header__list-item">
                    <a href="/about/">About</a>
                </li>
                <li class="header__list-item">
                    <a href="#contact">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</header>

<style lang="scss">
    .header {
        //background-color: white;
        border-bottom: 2px solid black;
        &__container {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        &__logo {
            font-weight: 600;
            text-decoration: none;
        }

        &__list {
            display: flex;
            align-items: center;
        }

        &__list-item {
            list-style: none;
            font-weight: 600;
        }

        &__list-item:not(:first-child) {
            margin-left: 20px;
        }
    }
</style>