---
const response = await fetch('https://rickandmortyapi.com/api/character');
const data = await response.json();

//const item = data.results[0];
---

<div class="ram-grid">
    {data.results.map( el => {
        return  <li class="ram-grid__item">
                    <h4 class="ram-grid__title">{el.name}</h4>
                    <img class="ram-grid__img" src={el.image}/>
                </li>    
    })}
</div>

<style lang="scss">
    .ram-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 12px;

        &__item {
            position: relative;
            list-style: none;

            will-change: auto;
            opacity: 0;
            transform: translateY(8%) scale(0.9);
            animation: showCard 0.4s ease-in-out forwards;
        }

        @for $i from 1 to 20 {
            &__item:nth-child(#{$i}) { animation-delay: $i * 0.05s; }
        }

        &__title {
            box-sizing: border-box;
            width: 100%;
            position: absolute;
            bottom: 0;
            text-align: center;
            padding: 8px;
            margin: auto;
            background-color: hsla(0, 0%, 100%, 0.40);
            backdrop-filter: blur(4px);
        }

        &__img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    @keyframes showCard {
        0% {
            opacity: 0;
            transform: translateY(8%) scale(0.9);
        }
        100% {
            opacity: 1;
            transform: translateY(0%) scale(1);
        }
    }

</style>